<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="navbar-title">
      <img class="navbar-logo" src="../../assets/logoText.png" alt="logo" />
    </ion-title>
    <div slot="end">
      <ion-select
        placeholder="{{ selectedCountryCode }}"
        interface="popover"
        (ionChange)="setCountryCode($event)"
        [ngStyle]="{
          'padding-right': '20px'
        }"
      >
        <div *ngFor="let country of countryList">
          <ion-select-option value="{{ country.isoCode }}" :key="state.id"
            >{{ country.name }}, {{ country.isoCode }}</ion-select-option
          >
        </div>
      </ion-select>
      <!-- <ion-select
        placeholder="State"
        interface="popover"
        (ionChange)="setStateCode($event)"
      >
        <div *ngFor="let state of stateList">
          <ion-select-option value="{{ state.isoCode }}" :key="state.id">{{
            state.name
          }}</ion-select-option>
        </div>
      </ion-select>

      <ion-select
        *ngIf="selectedState !== 'default'"
        placeholder="City"
        (ionChange)="setCity($event)"
        interface="popover"
      >
        <div *ngFor="let city of cityList">
          <ion-select-option :key="city.id">{{ city.name }}</ion-select-option>
        </div>
      </ion-select> -->
    </div>

    <!-- <ion-buttons slot="end">
      <ion-button fill="clear" class="navbar-iconbutton">
        <ion-icon slot="icon-only" name="country"></ion-icon>
        <ion-label>{{ selectedCountry }}, {{ selectedCity }}</ion-label>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
