.tabs {
  &--button {
    .tab-selected {
      --color-selected: #fe651d;
    }
    .tab {
      --ripple-color: #fe651d;
      --color-focused: #fe651d;
      --background-focused: #fe651d;
      --ion-color-primary: #fe651d;
    }
    color: #fe651d;
  }
}
