.tab1 {
  padding: 0 4%;
  // display: block;
  // h3 {
  //   color: #f7f3f3;
  // }
  &-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  &-logo {
    height: 2rem;
    width: auto;
  }
  &-capitalise {
    text-transform: capitalize;
  }
  &-back {
    margin-left: 4%;
    color: #091531;
  }
  &-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // flex-direction: row;
    flex-wrap: wrap;
    &--button {
      height: 6rem;
      width: 6rem;
      margin: 0.5rem;
      font-weight: 600;
      text-transform: capitalize;
      border: 2px solid #091531;
      color: #091531;
      border-radius: 4rem;
      --background: transparent;
      .button-inner {
        display: flex;
        flex-direction: column;
      }
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &-card {
    margin: 0 0 1rem;
    padding: 3%;
    ion-card-header {
      padding-bottom: 0;
    }
    &--read {
      display: inline;
      text-transform: capitalize;
      margin-left: 2%;
      background: transparent;
      color: #091531;
      font-weight: bold;
    }
    &--button {
      display: flex;
      text-transform: capitalize;
      --background: #091531;
    }
  }
  &-divider {
    margin-bottom: 1rem;
    border-top: 1px solid #091531;
  }
  &-accordion {
    margin: 12px;
  }
  &-sources {
    display: block;
    &--button {
      text-transform: capitalize;
      --background: #091531;
    }
  }
  &-iconbutton {
    color: #67b91f;
    --ripple-color: #091531;
    --color-focused: #5cbf05;
    --background-focused: #5cbf05;
    --ion-color-primary: #5cbf05;
  }
}
