<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <!-- <ion-buttons slot="start" *ngIf="selectedCategory!=='Categories'">
        <ion-button
          fill="clear"
          (click)="selectedCategory='Categories'"
          class="tab3-iconbutton"
        >
          <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons> -->

      <ion-title class="tab3-title">
        <img class="tab3-logo" src="../../assets/logoText.png" alt="logo" />
      </ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" class="tab3-iconbutton">
          <ion-icon slot="icon-only" name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <br />
  <div class="tab3">
    <h3>Weather for today</h3>
    <hr class="tab3-divider" />

    <h3>Weather forecast for the week</h3>
  </div>
  <!-- <form #loginForm="ngForm" class="tab3-form">
    <h5
      *ngIf="loginForm.value.email === '' || loginForm.value.password===''"
      [ngStyle]="{'color': 'blueviolet', 'font-weight': '600'}"
    >
      Please enter email and password
    </h5>
    <h5>Email :</h5>
    <input type="email" name="email" ngModel class="tab3-form--input" />
    <br />
    <h5>Password:</h5>
    <input type="password" name="password" ngModel class="tab3-form--input" />
    <br />
    <br />

    <button
      type="submit"
      class="tab3-form--submit"
      (click)="loginForm.value.email === '' || loginForm.value.password==='' ? userLoggedIn = false : userLoggedIn=true"
    >
      Login
    </button>
    <br />
    <h6>
      You entered email: {{ loginForm.value.email }}
      <br />
      You entered password: {{ loginForm.value.password }}
      <br />
      User logged in?: {{userLoggedIn}}
    </h6>
  </form> -->
</ion-content>
