<ion-content [fullscreen]="true">
  <br />
  <br />
  <br />
  <div class="tab3">
    <ion-searchbar
      placeholder="search city"
      value="Nagpur"
      color="light"
      [ngStyle]="{'padding': '0', 'color':'#474747'}"
      #search
      ngModel
      (ionBlur)="setCity($event)"
    ></ion-searchbar>
    <h6
      [ngStyle]="{'margin':'12px 0 0 12px', 'color':'#474747', 'text-transform':'Uppercase'}"
    >
      {{currentCity}}, {{localData.sys.country}}
    </h6>
    <h1
      [ngStyle]="{'align-self': 'center',
       'font-size':'3rem','margin':'2% 0 0 4%','color':'#474747'}"
      class="tab3-capitalise"
    >
      {{localData.main.temp}} °C
    </h1>
    <ion-chip color="primary"
      >Feels like {{ localData.main.feels_like}}°C</ion-chip
    >
    <ion-chip color="primary"
      >min {{localData.main.temp_min}}°C - max
      {{localData.main.temp_max}}°C</ion-chip
    >
    <div [ngStyle]="{'display': 'flex', 'justify-content': 'center'}">
      <img [src]="imageUrl" alt="weather-icon" />
    </div>

    <!-- 
    <ion-chip color="primary">Humidity: {{ localData.main.humidity}}%</ion-chip>
    <ion-chip color="primary"
      >Pressure: {{ localData.main.pressure}} hPa</ion-chip
    >
    <ion-chip color="primary">
      Wind speed: {{localData.wind.speed}} meter/sec</ion-chip
    >
    <ion-chip color="primary">Wind degrees: {{localData.wind.deg}}°</ion-chip> -->

    <!-- <hr class="tab3-divider" /> -->
    <h5>Forecast for next few days</h5>
    <div [ngStyle]="{'display':'flex'}">
      <ion-card
        *ngFor="let item of forecast.list"
        [ngStyle]="{'padding': '8px', 'margin':'4px', 'width': '100%',
        'justify-content': 'space-between'}"
      >
        <ion-card-subtitle> {{item.weather[0].main}} </ion-card-subtitle>
        <img
          [src]='"https://openweathermap.org/img/wn/"+item.weather[0].icon+".png"'
          alt="weather"
        />
        <ion-card-subtitle> {{item.main.temp}} </ion-card-subtitle>
      </ion-card>
    </div>
    <br />
  </div>
</ion-content>
