.tab3 {
  padding: 0 5%;
  ion-searchbar.custom {
    --background: #6881ff;
    --color: #fff;
    --placeholder-color: #fff;
    --icon-color: #fff;
    --clear-button-color: #fff;
  
    --border-radius: 4px;
    }
  &-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  &-logo {
    height: 2rem;
    width: auto;
  }
  &-capitalise {
    text-transform: capitalize;
  }
  &-divider {
    // margin-bottom: 1rem;
    border-top: 1px solid darkgray;
  }
  &-iconbutton {
    color: #091531;
    --ripple-color: #091531;
    --color-focused: #091531;
    --background-focused: #091531;
    --ion-color-primary: #091531;
  }
  &-form {
    display: flex;
    padding: 20px 10%;
    width: 100%;
    align-content: center;
    flex-direction: column;
    &--input {
      height: 2rem;
      padding: 4px 12px;
      color: #091531;
      border: solid 2px rgb(79, 79, 79);
      border-radius: 12px;
      &:focus-visible {
        outline: #091531 auto 1px;
      }
    }
    &--submit {
      height: fit-content;
      margin: 12px 0;
      padding: 12px;
      border-radius: 1rem;
      color: white;
      font-weight: 600;
      background-color: blueviolet;
    }
    @media (min-width: 768px) {
      flex-wrap: wrap;
    }
  }
}
